

<div class="signin">
  <h1><%= title %></h1>

  <form id="registration-form" action="/account/register" method="post">
    <label for="first_name">First Name</label>
    <input 
      type="text" 
      id="first_name" 
      name="first_name" 
      required 
      value="<%= typeof first_name != 'undefined' ? first_name : '' %>">

    <label for="last_name">Last Name</label>
    <input 
      type="text" 
      id="last_name" 
      name="last_name" 
      required 
      value="<%= typeof last_name != 'undefined' ? last_name : '' %>">

    <label for="email">Email</label>
    <input 
      type="email" 
      id="email" 
      name="email" 
      required 
      value="<%= typeof email != 'undefined' ? email : '' %>">

    <label for="password">Password</label>
    <div class="password-toggle-wrapper">
      <input 
        type="password" 
        id="password" 
        name="password" 
        required 
       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        title="Must be at least 12 characters and include one uppercase letter, one number, and one special character">
      <button type="button" id="togglePassword">Show</button>
    </div>

    <button type="submit">Register</button>

     <p class="register-link">
    Don't have an account?
    <a href="/account/login">Login</a>
  </p>
  </form>
</div>

<script>
  // Toggle password visibility
  const togglePassword = document.getElementById('togglePassword');
  const passwordInput = document.getElementById('password');

  togglePassword.addEventListener('click', () => {
    const type = passwordInput.getAttribute('type');
    passwordInput.setAttribute('type', type === 'password' ? 'text' : 'password');
    togglePassword.textContent = type === 'password' ? 'Hide' : 'Show';
  });
</script>


