<h1>Welcome to CSE Motors!</h1>

<div id="flash-message">
  <%- messages() %>
</div>
 
<div class="hero-page">
    <img src="/images/vehicles/delorean.jpg" alt="CSE Motors Hero Image" />
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <p>3 cup holders.</p>
        <p>Superman doors</p>
        <p>fuzzy dice!</p>
        <a href="/vehicles" class="btn"> Own Today</a>
    </div>
</div>

<div class="cont">

    <div class="reviews">
            <h3>DMC Delorean Reviews</h3>
            <ul>
                <li>"so fast it's almost like travelling in time." (4/5) </li>
                <li>"coolest ride on the road" (4/5) </li>
                <li>" I'm feeling McFly." (5/5) </li>
                <li>"The most futuristic ride of our day" (4/5) </li>
                <li>"80's livin and i love it ." (4/5) </li>

            </ul>
    </div>

    <div class="upgrade">
            <h3> Delorean upgrades </h3>
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Delorean Upgrade" />
                <figcaption><a href='#'>flux-cap </a></figcaption>
            </figure>
             <figure>
                <img src="/images/upgrades/flame.jpg" alt="Delorean Upgrade" />
                <figcaption><a href='#'>flame </a></figcaption>
            </figure>
             <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Delorean Upgrade" />
                <figcaption><a href='#'>bumper_sticker </a></figcaption>
            </figure>
             <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Delorean Upgrade" />
                <figcaption><a href='#'>hub-cap </a></figcaption>
            </figure>
        </div>
        
</div>
