<% if (locals.accountData) { %>
  <form action="/reviews/add" method="post">
    <label for="reviewText">Your Review</label><br>
    <textarea name="reviewText" id="reviewText" required></textarea><br>
    <label for="reviewRating">Rating</label>
    <select name="reviewRating" required>
      <option value="5">5 - Excellent</option>
      <option value="4">4 - Good</option>
      <option value="3">3 - Average</option>
      <option value="2">2 - Poor</option>
      <option value="1">1 - Terrible</option>
    </select>
    <input type="hidden" name="invId" value="<%= vehicle.inv_id %>">
    <button type="submit">Submit Review</button>
  </form>
<% } else { %>
  <p><a href="/account/login">Login</a> to leave a review.</p>
<% } %>
