<h1>Add Classification</h1>


  <div class="flash-message"><%= message %></div>


<form action="/inv/add-classification" method="post">
  <label for="classification_name">Classification Name (no spaces or special characters)</label>
  <input 
    type="text" 
    id="classification_name" 
    name="classification_name" 
    pattern="^[a-zA-Z0-9]+$"
    title="No spaces or special characters" 
    required
    value="<%= typeof classification_name != 'undefined' ? classification_name : '' %>">
  
  <button type="submit">Add Classification</button>
</form>
