<title>Inventory Management</title>
<h1>Inventory Management Dashboard</h1>
<div class="invpage">
<a href="/inv/add-classification" class="inv">Add New Classification</a>
<a href="/inv/add-inventory" class="inv">Add New Inventory</a>

<% if (locals.message) { %>
  <p class="flash-message"><%= message %></p>
<% } %>
</div>

